.intro {
    padding: 20px;

    &__header {
        margin-bottom: 20px;
        text-align: center;
        font-family: Amatic SC, sans-serif;
        font-weight: 700;
        font-size: 2.5rem;
        line-height: 3rem;
        color: #3e3d3d;
    }

    &__p {
        font-family: Jost, sans-serif;
        font-weight: 500;
        font-size: 1.8rem;
        line-height: 2.4rem;
        color: #535252;
        text-align: justify;
    }

    &__img {
        margin: 20px auto;
        display: block;
        width: 70%;
        height: auto;
        border-radius: 10px;
    }
}

@media (max-width: 800px) {
    .intro {

        &__img {
            width: 100%;
        }
    }
}