.menu{
    font-size: 30px;
    display: flex;
    list-style: none;
    gap: 32px;
    &__link{
        color: #fff;
        transition: text-decoration 0.2s ;

        &:hover {
            text-decoration: underline;
        }
    }
    
}